@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.write-answer::placeholder {
  color: rgb(157, 156, 156);
}
body {
  background-color: #2e2c2c;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}

.main {
  background-image: url('/assets/images/box.jpg');
  background-size: contain;
  background-position: center;
  height: 100vh;
  width: 100vw;
  background-repeat: repeat-x;
}

.main-2 {
  background: linear-gradient(to bottom, #f30202, #f5e218);
}

.navbar {
  background: black;
  font-family: sans-serif;
  font-size: 1.1rem;
  background-color: rgba(0, 0, 0, 0.2);
}

.pokemon-card-container {
  width: 17rem;
  height: 25rem;
}

.pokemon-card-container:hover {
  box-shadow: 0 0 30px rgba(253, 197, 0, 0.7), 0 0 45px rgba(253, 197, 0, 0.5),
    0 0 60px rgba(253, 197, 0, 0.3);
  transition: 1s;
}

.pokemon-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pokemon-img {
  max-width: 80%;
  max-height: 80%;
}

.fusion-overlay {
  top: 2rem;
}

.fusion-container {
  width: 70%;
  height: 70%;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer {
  position: absolute;
  top: 100px;
  left: 10px;
}

.clue {
  top: 100px;
  font-size: 20px;
}

.image-container {
  max-width: 300px; /* Adjust as needed */
  margin-top: 20px;
}

.guess-form {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.guess-input {
  flex: 1;
  margin-right: 10px;
}

.submit-button {
  padding: 8px 16px;
  color: white;
  border: none;
  cursor: pointer;
}

.black-pokemon-img {
  max-width: 80%;
  max-height: 80%;
  filter: grayscale(100%) brightness(0%) contrast(100%);
}

.congratulations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.congratulations-text {
  margin-bottom: 20px;
  text-align: center;
}

.pokemon-card-container {
  position: relative;
}

.button-color {
  background-color: #fdc500;
  transition: box-shadow 0.3s ease;
  opacity: 90%;
}

.dropdown-items {
  background-color: rgba(253, 197, 0, 0.75);
}
.dropdown-items:hover {
  background-color: rgba(253, 197, 0, 1);
  animation: glow 1s infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px rgba(253, 197, 0, 0); /* Start with no shadow */
  }
  to {
    box-shadow: 0 0 20px rgba(253, 197, 0, 0.7); /* End with intensified shadow */
  }
}

.button-color:hover {
  animation: glow 1s infinite alternate;
  opacity: 100%;
}

/* CSS Animation for Celebration */
@keyframes confetti {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-200px) rotate(360deg);
  }
}

.radio-button {
  accent-color: #fdc500;
}

/* lazy loader */
.lazy-loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #fdc500;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  } /* Starting point */
  100% {
    transform: rotate(360deg);
  } /* Full rotation */
}

/* Tailwind Styles */

.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.black_btn {
  @apply rounded-full border border-black bg-black py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-sm font-inter flex items-center justify-center;
}

.outline_btn {
  @apply rounded-full border border-black bg-transparent py-1.5 px-5 text-black transition-all hover:bg-black hover:text-white text-center text-sm font-inter flex items-center justify-center;
}

.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-black sm:text-6xl;
}

.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.green_gradient {
  @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.desc {
  @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl;
}

.search_input {
  @apply block w-full rounded-md border border-gray-200 bg-white py-2.5 font-satoshi pl-5 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}

.copy_btn {
  @apply w-7 h-7 rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur flex justify-center items-center cursor-pointer;
}

.glassmorphism {
  @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}

.prompt_layout {
  @apply space-y-6 py-8 sm:columns-2 sm:gap-6 xl:columns-3;
}

/* Feed Component */
.feed {
  @apply mt-16 mx-auto w-full max-w-xl flex justify-center items-center flex-col gap-2;
}

/* Form Component */
.form_textarea {
  @apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm text-gray-500 outline-0;
}

.form_input {
  @apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0;
}

/* Nav Component */
.logo_text {
  @apply max-sm:hidden font-satoshi font-semibold text-lg text-black tracking-wide;
}

.dropdown {
  @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-end items-end;
}

.dropdown_link {
  @apply text-sm font-inter text-gray-700 hover:text-gray-500 font-medium;
}

/* PromptCard Component */
.prompt_card {
  @apply flex-1 break-inside-avoid rounded-lg border border-gray-300 bg-white/20 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter md:w-[360px] w-full h-fit;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}
